<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <import resource="applicationContext02.xml"/>
    <context:component-scan base-package="com.fzw"></context:component-scan>
    
    <bean id="userDao" class="com.fzw.springabc.no001_bean注入.UserDaoImpl">
    </bean>

    <!--  设置注入  -->
    <bean id="userDao1" class="com.fzw.springabc.no001_bean注入.UserDaoImpl" >
        <property name="name" value="name"/>
    </bean>

    <!--  构造注入  -->
    <bean id="userDao2" class="com.fzw.springabc.no001_bean注入.UserDaoImpl">
        <constructor-arg value="12"/>
    </bean>

    <!--  测试init-method及destroy-method  -->
    <bean id="userDao3" class="com.fzw.springabc.no001_bean注入.UserDaoImpl" init-method="setup" destroy-method="destroy">
        <property name="name" value="userDao3"/>
    </bean>

    <!--  测试init-method及destroy-method  -->
    <bean id="userDao4" class="com.fzw.springabc.no001_bean注入.UserDaoImpl"
        init-method="setup"
        destroy-method="destroy"
        scope="prototype">
        <property name="name" value="userDao4"/>
    </bean>
    
    <!-- Spring的bean的生命周期的配置 -->
    <!-- 单例scope的情况下，factory关闭，destroy-method中的方法会执行 -->
    <!-- scope=prototype的情况下，factory关闭，destroy-method中的方法不会执行 -->
    <bean id="customerDaoSingleton" class="com.fzw.springabc.no002_bean作用范围.CustomerDaoImpl"
        init-method="setup"
        destroy-method="destroy">
    </bean>
    
    <bean id="customerDaoPrototype" class="com.fzw.springabc.no002_bean作用范围.CustomerDaoImpl"
        init-method="setup"
        destroy-method="destroy"
        scope="prototype"
    >
    </bean>
    
    
    <bean id="car" class="com.fzw.springabc.no002_bean作用范围.Car">
        <constructor-arg name="name" value="Tesla"/>
        <constructor-arg name="price" value="300000"/>
    </bean>
    
    <bean id="employee" class="com.fzw.springabc.no002_bean作用范围.Employee">
        <property name="name" value="kobe"/>
        <property name="car" ref="car"/>
    </bean>
    
    <!--  P命名空间  -->
    <bean
        id="car1"
        class="com.fzw.springabc.no002_bean作用范围.Car"
        p:name="Benz"
        p:price="30001">
    </bean>
    
    <bean id="employee1" class="com.fzw.springabc.no002_bean作用范围.Employee"
        p:name="Durant"
        p:car-ref="car1">
    </bean>
    
    <!--  SpEL  -->
    
    <bean id="car2" class="com.fzw.springabc.no002_bean作用范围.Car">
        <constructor-arg name="name" value="#{'BMW'}"/>
        <constructor-arg name="price" value="#{400000}"/>
    </bean>
    
    <bean id="employee2" class="com.fzw.springabc.no002_bean作用范围.Employee">
        <property name="name" value="#{'James'}"/>
        <property name="car" value="#{car2}"/>
    </bean>
    
    
    
</beans>